<html>

<head>
</head>

{{.UserName}}

<body>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="photo"></input>
        <input type="submit" value="Upload"></input>
    </form>
</body>

{{if .Error}} <span style="color:red;">{{.Error}}</span>{{else}} {{range .Pictures }} <img src="{{.URL}}">{{end}} {{end}}



</html>